.form-inline label {
  margin-right: 10px;
}

.content-container {
  margin-top: 30px;
}

.list-group-item {
  margin-bottom: 10px;
}

.survey-meta {
  font-size: 1.2rem;
  color: #000;
  font-weight: normal;
  background: #f3f3f3;
}

.survey-list-item-actions .btn {
  margin-left: 1px;
}

.survey-edit-actions .btn {
  margin-right: 1px;
}

.course-title-label {
  font-size: 1.2rem;
  background-color: #abc7bf;
}
